body { background: rgb(239, 239, 239); }
* { margin: 0;padding: 0; }
a { text-decoration: none; }
ul, ol, li {list-style:none; }
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
.clearfix::after { content:'';display: block;clear: both; }

.icon { width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden; }
.site-welcome.active {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(239, 239, 239);
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.site-welcome{
  display: none;
}
.site-welcome .loading{
  height: 200px;
  width: 200px;
  position: relative;
}
.site-welcome .loading::before {
  content: '';
  position: absolute;
  height: 0px;width: 0px;
  border-radius: 50%;
  background:black;
  top: 0px;bottom: 0px;right: 0px;left: 0px;margin: auto;
  animation: s 1.6s linear infinite;
}
.site-welcome .loading::after {
  animation-delay: 0.85s;
  content: '';
  position: absolute;
  height: 0px;width: 0px;
  border-radius: 50%;
  background:black;
  top: 0px;bottom: 0px;right: 0px;left: 0px;margin: auto;
  animation: s 1.6s linear infinite 0.85s;
}
@keyframes s { from { width: 0;height: 0;opacity: 0.7;} to { width: 70px;height: 70px;opacity: 0; } }

[data-x].offset{transform: translateY(150px);}
[data-x]{transform: translateY(0);transition: all 0.5s;}
hr{border:none;border:1px solid rgb(222, 222, 222);}

.topNavBar { position: fixed; top: 0;left: 0; width: 100%; color:#b7b7b7; transition: all 1s;}
.topNavBar .topNavBar-inner { margin: 25px 20px; transition: all 1s;}
.topNavBar .logo { font-size: 25px; font-family: "Yu Gothic"; }
.topNavBar .logo .rs { margin-right: 4px; color:#E6686A; }
.topNavBar .logo .card { color:#9A9DA2; }
/* .topNavBar nav ul { list-style: none;margin: 0;padding: 0;} */
.topNavBar nav > ul { padding-right: 48px; }
.topNavBar nav > ul > li { float: left; margin: 0 17px; position: relative; }

.topNavBar nav > ul > li > a {
  display: block;
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  position: relative;
  padding: 10px 0px;
}
.topNavBar nav > ul > li.active > a::after,.topNavBar nav > ul > li.highLight > a::after {
  content: '';
  display: block;
  background:#e06563;
  position: absolute;
  top: 100%;
  left: 0;
  width:100%;
  height: 3px;
  border-radius: 10px;
  animation: 0.2s linear 0s menuSlide;
}
@keyframes menuSlide { from { width: 0; } to { width: 100%; } }
.topNavBar nav > ul > li > .portfolio-submenu {
  display: none;
  position: absolute;
  top: 114%;
  right: 0;
  background:#fff;
  padding: 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
.topNavBar nav > ul > li.active > .portfolio-submenu {
  display: block;
  animation: 0.25s linear submenuSlide;
}
@keyframes submenuSlide { from { right: 100%; } to { right: 0; } }
/* @keyframes submenuSlide { from { margin-right: 100%; } to { margin: 0;} } */
.topNavBar nav > ul > li > .portfolio-submenu > li {
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 14px;
  color: #3c4451;
  text-align: center;
}
.topNavBar nav > ul > li > .portfolio-submenu > li:last-child {
  padding-bottom: 0;
}
.topNavBar.sticky {
  background:white;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
  color: #3d4451;
  z-index: 1;
}
.topNavBar.sticky .topNavBar-inner{
  margin: 10px 0px;
}

.banner { 
  background: no-repeat url(./img/cover.jpg) center center/cover;
  height: 515px;
}
/* 图片蒙层 */
.banner::after {
  content: '';
  display: block;
  height: 100%;
  background: rgba(0,0,0,0.63);
}

main.about { margin-top: -340px;}
.userCard {
  max-width: 930px;
  margin: 0 auto;
  background: rgb(253, 253, 253);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.userCard .welcome { 
  display: inline-block;
  background-color:#e8676b;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding:8px 12px;
  margin-bottom:38px;
  position: relative;
}
.userCard .profile { padding:57px 54px 15px;}
.userCard .picture {
  float: left;
  padding: 10px 82px 30px 20px;
}
.userCard .picture img{width: 260px;height: 360px;}
.userCard .text { float: left;}
.userCard .text h1 { margin-bottom: 10px;font-weight: bold;}
.userCard .text p { margin-bottom: 28px;}
.userCard .text dl { margin-top: 28px;}
.userCard .text dl>dt{float:left;width:40%;margin-bottom:22px;font-weight:bold;}
.userCard .text dl>dd{float:left;width:60%;margin-bottom:22px;color: #9da0a7;}
.userCard .welcome .triangle{display: block;border: 10px solid transparent;width: 0px;border-left-color: #e8676b;
border-top-width: 0px;position: absolute;top: 100%;left:5px;}
.userCard footer{background-color:#E6686A;text-align: center;padding:15px 0px;}
.userCard footer a{text-decoration: none;display: inline-block;border-radius: 50%;width: 46px;line-height: 30px;padding: 8px 0px;margin:5px 15px;}
.userCard footer a:hover{background-color: rgba(0, 0, 0, 0.1);}
.userCard footer a svg{color: #fff;width:26px;height:30px;vertical-align: top;}

.download_txt, .skills, .portfolio, .message {
  max-width: 930px;
  margin: 0 auto;
}

.download_txt  a {
  display: block;
  width: 10%;
  color: #3d4451;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #cbcdcf;
  border-radius: 4px;
  padding: 16px 30px;
  margin: 35px auto;
  letter-spacing: 0.01em;
  transition: box-shadow 0.3s;
  white-space: nowrap;
}
.download_txt a:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18), 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}
.download_txt p {font-size:20px;line-height:1.6;font-family: 楷体;}
.skills>h2,.portfolio>h2,.message>h2{color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;text-align: center;margin: 0 0 25px;}
.skills,.portfolio,.message{padding:70px 0 0;}
.skills ol{background: #fff;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);padding:51px 40px 6px;}
.skills ol>li{float:left;width:48.5%;margin-bottom:40px;}
.skills ol>li:nth-child(even){float:right;}
.skills ol>li>h3{font-size: 14px;margin-bottom:5px;text-align: initial;}
.skills .progressBar{height:5px;line-height: 1.5;border-radius: 5px;background-color:rgb(250, 225, 225);overflow: hidden;}
.skills .progressBar .progress{width:30%;height:100%;border-radius: 5px;background-color: #e8676b;transform: translateX(0);transition: all 1s;}
.skills.offset .progress{transform: translateX(-100%);}
.portfolio .swiper-container {width: 668px;height: 501px;background: white;}
.portfolio .swiper-button-prev{background-color: white;width:44px;height:44px;border-radius: 50%;left:44px;top:372px;}
.portfolio .swiper-button-next{background-color: white;width:44px;height:44px;border-radius: 50%;right:44px;top:372px;}
.message >ol{
  background:white;
  border-top:1px solid #ececec;
  overflow: hidden;
}
.message >ol>li{
padding:14px;
border-bottom:1px solid #ddd;
text-align: left;
}
.message >ol>li>h2{
  margin-bottom: 10px;
}
.message >ol>li>p{
  color: rgb(116, 122, 135);
  overflow: hidden;
}
.message >form{
  padding-top:30px;
  margin-bottom:30px;
  text-align: left;
}
.message >form .name label{
  margin-right: 49px;
}
.message >form .word,.message >form .name{
  margin-bottom: 15px;
}